Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

Implement remote plugin resources retrieving (#430)
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-reader-extension.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use python:3.7.4-slim as a base image for python (#427)
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Make GitHub token not mandatory if rate limits are ok
  build.sh
  docker_image_build.include
  dockerfiles/build.include
  dockerfiles/theia-dev/build.sh
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia-dev/e2e/build.sh
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia-endpoint-runtime/build.sh
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Use python:3.7.4-slim as a base image for python (#427)
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Implement remote plugin resources retrieving (#430)
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-reader-extension.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add devfile and doc for developing of Che Theia remote plugin mechanism (#413)
  CONTRIBUTING.md
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Run `node-gyp install` before rebuilds.
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
  dockerfiles/theia/e2e/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add a command to populate local package cache for dotnet image (#433)
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Generate settings.xml if MAVEN_MIRROR_URL is set (#429)
  dockerfiles/remote-plugin-java11/Dockerfile
  dockerfiles/remote-plugin-java11/etc/before-start.sh
  dockerfiles/remote-plugin-java8/Dockerfile
  dockerfiles/remote-plugin-java8/etc/before-start.sh
  dockerfiles/theia-endpoint-runtime/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove wiping of workspace
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix typo
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Use latest version of che-theia-generator
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Make GitHub token not mandatory if rate limits are ok (#434)
  build.sh
  docker_image_build.include
  dockerfiles/build.include
  dockerfiles/theia-dev/build.sh
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia-dev/e2e/build.sh
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia-endpoint-runtime/build.sh
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

fix
  extensions/eclipse-che-theia-plugin-remote/src/node/languages-container-aware.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Revert "fix"
  extensions/eclipse-che-theia-plugin-remote/src/node/languages-container-aware.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fixup: Fix syntax error in Che Theia image build script
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fixup: Fix syntax error in Che Theia image build script (#436)
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix commit reference in the About dialog
  extensions/eclipse-che-theia-about/scripts/generate-about-details.js
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add ability to set up git user name and email in theia preferences
  che-theia-init-sources.yml
  extensions/eclipse-che-theia-git-provisioner/.gitignore
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-preferences.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-backend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-contribution.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
  extensions/eclipse-che-theia-git-provisioner/tsconfig.json
  extensions/eclipse-che-theia-user-preferences/src/node/che-theia-preferences-synchronizer.ts
  extensions/eclipse-che-theia-user-preferences/tsconfig.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Workaround of 'API rate limit exceeded' error
  docker_image_build.include
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia/Dockerfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Replace github.com/theia-ide/theia by github.com/eclipse-theia/theia.
  README.md
  devfiles/che-theia-all.devfile.yaml
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia/Dockerfile
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
  generator/README.md
  generator/tests/init/root-folder/packages/core/package.json
  plugins/factory-plugin/tests/projects.spec.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @sunix, @vitaliy-guliy, @olexii4

Replace github.com/theia-ide/theia by github.com/eclipse-theia/theia.
  README.md
  devfiles/che-theia-all.devfile.yaml
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia/Dockerfile
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
  generator/README.md
  generator/tests/init/root-folder/packages/core/package.json
  plugins/factory-plugin/tests/projects.spec.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @sunix, @vitaliy-guliy, @olexii4

Fix commit reference in the About dialog (#437)
  extensions/eclipse-che-theia-about/scripts/generate-about-details.js
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Update go to 1.12.9
  docker_image_build.include
  dockerfiles/remote-plugin-go-1.10.7/.gitignore
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
  dockerfiles/remote-plugin-go-1.10.7/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Update go to 1.12.9
  dockerfiles/remote-plugin-go-1.12.9/.gitignore
  dockerfiles/remote-plugin-go-1.12.9/Dockerfile
  dockerfiles/remote-plugin-go-1.12.9/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

update che task format
  plugins/task-plugin/README.md
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Apply SSH generate/create key name validation
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Remove @theia/tslint extension in favor of plugin
  generator/src/templates/assembly-package.mst
  generator/tests/init-sources/assembly-example/assembly-package.json
  generator/tests/production/assembly/package.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix build, by calling internal method
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix build, by calling internal method
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add python 3.7.4 runtime to dependency analytics
  docker_image_build.include
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

eclipse/che#14645 fix undefined error
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

fixes
  plugins/factory-plugin/src/exec.ts
  plugins/factory-plugin/src/factory-initializer.ts
  plugins/factory-plugin/src/git.ts
  plugins/factory-plugin/src/theia-commands.ts
  plugins/factory-plugin/src/workspace-projects-manager.ts
  plugins/factory-plugin/src/zip.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

added ability to expand zipped projects
  plugins/factory-plugin/src/factory-initializer.ts
  plugins/factory-plugin/src/theia-commands.ts
  plugins/factory-plugin/src/workspace-projects-manager.ts
  plugins/factory-plugin/src/zip.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

eclipse/che#14645 fix undefined error
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Build Che Theia generator on image build if it was changed
  dockerfiles/theia-dev/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add ability to expand zipped projects defined in a devfile (#442)
  plugins/factory-plugin/src/exec.ts
  plugins/factory-plugin/src/factory-initializer.ts
  plugins/factory-plugin/src/git.ts
  plugins/factory-plugin/src/theia-commands.ts
  plugins/factory-plugin/src/workspace-projects-manager.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Run Che command in selected container
  plugins/containers-plugin/src/containers-plugin.ts
  plugins/containers-plugin/src/containers-tree-data-provider.ts
  yarn.lock
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp, @evidolob

Build Che Theia generator on image build if it was changed (#441)
  dockerfiles/theia-dev/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Restore dockerfile fro go 1.10.7
  dockerfiles/remote-plugin-go-1.10.7/.gitignore
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
  dockerfiles/remote-plugin-go-1.10.7/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp
