Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

Locate kubernetes tasks under corresponding containers
  plugins/containers-plugin/src/containers-service.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Remove che-machine-exec:next plugin from remote plugin devfile. (#561)
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Set default git clone directory to '/projects' (#549)
  generator/src/templates/assembly-package.mst
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix webview after changes in upstream.
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/src/entrypoint.sh
  dockerfiles/theia/src/get-webview-route.js
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

feat(git): Add git man pages in theia-dev container Fixes https://github.com/eclipse/che/issues/15161
  dockerfiles/theia-dev/docker/alpine/install-dependencies.dockerfile
  dockerfiles/theia-dev/docker/ubi8/install-dependencies.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix webview using Che theia domain.
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix webview after changes in upstream. (#563)
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/src/entrypoint.sh
  dockerfiles/theia/src/get-webview-route.js
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Intercept uri arguments and set container name into file scheme
  extensions/eclipse-che-theia-plugin-remote/src/node/execute-command-container-aware.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix up.
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Rebind webview-environment to set up webview domain
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/src/get-webview-route.js
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Fix type and lint errors.
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Release che-theia 7.5.0 with Theia 'd5ca4f666c9e972e3e9fd8ff479a0c6ff445b9fb' commit
  build.include
  che-theia-init-sources.yml
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  dockerfiles/theia/src/patches/0.13.0-next.d5ca4f66/0001-Stick-to-vscode-languageserver-6.0.0-next.1-for-vsco.patch
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Update yarn.lock.
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix patch
  dockerfiles/theia/src/patches/0.13.0-next.d5ca4f66/0001-Stick-to-vscode-languageserver-6.0.0-next.1-for-vsco.patch
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Intercept uri arguments and set container name into file scheme
  extensions/eclipse-che-theia-plugin-remote/src/node/execute-command-container-aware.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Remove get-webview-route.js from entrypoint.sh
  dockerfiles/theia/src/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Filtering in Plugins view
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-command-contribution.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-frontend-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-menu.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-service-client.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view-list.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view-toolbar.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins-caching.css
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins-notification.css
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
  extensions/eclipse-che-theia-plugin-ext/src/common/che-plugin-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/plugin/plugin-filter.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-backend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Filtering in Plugins view (#565)
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-command-contribution.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-frontend-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-menu.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-service-client.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view-list.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view-toolbar.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins-caching.css
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins-notification.css
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
  extensions/eclipse-che-theia-plugin-ext/src/common/che-plugin-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/plugin/plugin-filter.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-backend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Rebind webview endpoint in the server side.
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-server-common.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-backend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Rebind webview-environment to set up webview domain (#564)
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/src/entrypoint.sh
  dockerfiles/theia/src/get-webview-route.js
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-server-common.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-backend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/plugin-service.ts
  yarn.lock
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Display default icon when error
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view-list.tsx
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Display default icon when error (#566)
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view-list.tsx
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add pathcj to che-theia 7.3.2
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/src/patches/0.12.0-next.f255f5a8/clipbrd_patch.patch
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Return back 'f255f5a8cb22010aacb8196c8a8f248e111e9945' version
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/src/patches/f255f5a8cb22010aacb8196c8a8f248e111e9945/clipbrd_patch.patch
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add patch to che-theia 7.3.2 (#567)
  dockerfiles/theia/src/patches/f255f5a8cb22010aacb8196c8a8f248e111e9945/clipbrd_patch.patch
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Release che-theia:7.5.1
  build.include
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Add VS Code extension generator to theia-dev container
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Recovery welcome plugin styles after changing webview implementation.
  plugins/welcome-plugin/resources/welcome-page.css
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add VS Code extension generator to theia-dev container (#569)
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add WORKDIR into dotnet image
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Recovery welcome plugin styles after changing webview implementation. (#570)
  plugins/welcome-plugin/resources/welcome-page.css
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix
  plugins/task-plugin/src/task/che-task-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix Task Execution
  plugins/task-plugin/src/task/che-task-provider.ts
  plugins/task-plugin/src/task/che-task-runner.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add OpenShift plugin 0.1.2
  dockerfiles/remote-plugin-openshift-connector-0.1.2/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.2/build.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.2/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add SHELL environment variable into theia-ide dockerfile
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add SHELL environment variable into theia-ide dockerfile (#575)
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Release che-theia:7.3.3
  build.include
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

fix(build): Python dependencies are requiring gcc at build time Fixes https://github.com/eclipse/che/issues/15230
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

add newline to dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

CRW-537 reorganize dockerfile steps so we can override patch and post-patch steps, such that generated tarball includes patched theia sources (#571)
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/alpine/builder-patch-theia.dockerfile
  dockerfiles/theia/docker/alpine/builder-post-patch.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-patch-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-post-patch.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp
