Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

Do not catch error while executing Git commands, factory plugin (#473)
  plugins/factory-plugin/src/exec.ts
  plugins/factory-plugin/src/git.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Rework getting the product info
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-product-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-product.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Change a parent image for remote-plugin-openshift-connector-0.1.0 (#475)
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Change way of storage runtime info for che tasks
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-task-client.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-task-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-task-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-task-impl.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/task-plugin/src/task/che-task-runner.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Use node for some debuggers.
  dockerfiles/remote-plugin-go-1.12.9/Dockerfile
  dockerfiles/remote-plugin-php7/Dockerfile
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix up.
  dockerfiles/remote-plugin-clang-8/Dockerfile
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add python 3.7.4 runtime to dependency analytics
  docker_image_build.include
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Rewrite openshift-connector-0.1.0 docker file
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.0/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Rework remote-plugin-dependency-analytics-0.0.13 image
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Allows branding of Che-Theia (#454)
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
  extensions/eclipse-che-theia-about/src/browser/style/che-theia-about.css
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-product-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-backend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-product-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-product.ts
  extensions/eclipse-che-theia-plugin-ext/src/resource/che-logo.svg
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/welcome-plugin/package.json
  plugins/welcome-plugin/resources/welcome-page.css
  plugins/welcome-plugin/src/welcome-page.ts
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Add status bar label
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/status-bar-contribution.ts
  extensions/eclipse-che-theia-git-provisioner/src/common/git-notification-proxy.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-backend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add UBI based images for k8s and openshift plugins
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/Dockerfile.ubi
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/Dockerfile.ubi
  dockerfiles/remote-plugin-openshift-connector-0.0.17/Dockerfile.ubi
  dockerfiles/remote-plugin-openshift-connector-0.0.21/Dockerfile.ubi
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile.ubi
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Provide Docker image for Camel K plugin eclipse/che#14806
  dockerfiles/remote-plugin-camelk-0.0.9/Dockerfile
  dockerfiles/remote-plugin-camelk-0.0.9/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker): Fix theia build: che theia archive was not a .gz archive (only tar) Also it's was appending to the archive so you might had duplicates
  dockerfiles/theia/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Provide Docker image for Camel K plugin eclipse/che#14806
  dockerfiles/remote-plugin-camelk-0.0.9/Dockerfile
  dockerfiles/remote-plugin-camelk-0.0.9/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

add docker file for java8 based on openjdk-8-rhel8
  dockerfiles/remote-plugin-java8/Dockerfile.rh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Update Jenkinsfile
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

feat(core): add Camel K docker file to the list of image to build eclipse/che#14806
  docker_image_build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Change way of storage runtime info for che tasks
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-task-client.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-task-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-task-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-task-impl.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/task-plugin/src/task/che-task-runner.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Add image for java 11 plugin, based on 'openjdk-11-rhel8'
  dockerfiles/remote-plugin-java11/Dockerfile.rh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker): Fix theia build: che theia archive was not a .gz archive (only tar) Also it's was appending to the archive so you might had duplicates
  dockerfiles/theia/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

feat(core): add Camel K docker file to the list of image to build eclipse/che#14806
  docker_image_build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Secure github token
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix typo
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Minor fixup
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix errors
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix end of line
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix stage sequence
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Add _scope to TaskConfiguration
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Start Che just after kubernetes
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  plugins/task-plugin/src/task/converter.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix error
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Minor fix
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  plugins/task-plugin/src/task/converter.ts
  yarn.lock
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp, @evidolob

Use nodejs-10.15.3
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  plugins/task-plugin/src/task/converter.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add _scope to TaskConfiguration (#480)
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/task-plugin/src/task/converter.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Revert "feat(core): add Camel K docker file to the list of image to build eclipse/che#14806"
  docker_image_build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker): Use COPY instruction instead of ADD/expand mode as it's unsupported in RHEL/brew system
  dockerfiles/theia-dev/Dockerfile
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp
