Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

Temporary turn off build of che-theia
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Restore bild of che-theia
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Revert "add URL from which container is fetched so... (#507)"
  dockerfiles/theia-dev/Dockerfile
  dockerfiles/theia-dev/docker/ubi8/builder-image-from.dockerfile
  dockerfiles/theia-dev/docker/ubi8/install-dependencies.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia/docker/ubi8/runtime-install-dependencies.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

fix indent in generated Dockerfile
  dockerfiles/theia/docker/alpine/runtime-adduser.sh
  dockerfiles/theia/docker/ubi8/runtime-adduser.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

to move additional step to crw-theia, need a new include step
  dockerfiles/theia-dev/Dockerfile
  dockerfiles/theia-dev/docker/alpine/post-yarn-config.dockerfile
  dockerfiles/theia-dev/docker/ubi8/post-yarn-config.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Prevent remote plugin nodejs instance crash in case of unhandled exception inside a plugin (#514)
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Release che-theia 7.3.1
  build.include
  che-theia-init-sources.yml
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

fix indent in generated Dockerfile
  dockerfiles/theia/docker/alpine/runtime-adduser.sh
  dockerfiles/theia/docker/ubi8/runtime-adduser.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

to move additional step to crw-theia, need a new include step
  dockerfiles/theia-dev/Dockerfile
  dockerfiles/theia-dev/docker/alpine/post-yarn-config.dockerfile
  dockerfiles/theia-dev/docker/ubi8/post-yarn-config.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Use component for task configuration instead of container name
  plugins/task-plugin/README.md
  plugins/task-plugin/src/che-task-backend-module.ts
  plugins/task-plugin/src/che-workspace-client.ts
  plugins/task-plugin/src/export/export-configs-manager.ts
  plugins/task-plugin/src/export/launch-configs-exporter.ts
  plugins/task-plugin/src/export/task-configs-exporter.ts
  plugins/task-plugin/src/machine/machines-picker.ts
  plugins/task-plugin/src/task/backward-compatibility.ts
  plugins/task-plugin/src/task/che-task-provider.ts
  plugins/task-plugin/src/task/converter.ts
  plugins/task-plugin/src/task/task-protocol.ts
  plugins/task-plugin/src/utils.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Use component for task configuration instead of container name
  plugins/task-plugin/README.md
  plugins/task-plugin/src/che-task-backend-module.ts
  plugins/task-plugin/src/che-workspace-client.ts
  plugins/task-plugin/src/export/export-configs-manager.ts
  plugins/task-plugin/src/export/launch-configs-exporter.ts
  plugins/task-plugin/src/export/task-configs-exporter.ts
  plugins/task-plugin/src/machine/machines-picker.ts
  plugins/task-plugin/src/task/backward-compatibility.ts
  plugins/task-plugin/src/task/che-task-provider.ts
  plugins/task-plugin/src/task/converter.ts
  plugins/task-plugin/src/task/task-protocol.ts
  plugins/task-plugin/src/utils.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix build
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix build
  build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix build
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove redundand await construction
  plugins/task-plugin/src/machine/machines-picker.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add build commands into Che Theia remote devfile
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add build commands into Che Theia remote devfile (#519)
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

add metrics plugin
  generator/src/templates/assembly-package.mst
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Disable building and publishing of 'eclipse/che-theia-endpoint-runtime' image
  build.include
  dockerfiles/theia-endpoint-runtime/README.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Fix analytica ubi image.
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix analytica ubi image. (#522)
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Open files from a sidecar container in the theia
  build.include
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-sidecar-content-reader-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-sidecar-resource.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-sidecar-content-reader.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/che-content-aware-utils.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/document-container-aware.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/languages-container-aware.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Disable building and publishing of 'eclipse/che-theia-endpoint-runtime' image
  build.include
  dockerfiles/theia-endpoint-runtime/README.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Open files from a sidecar container in the theia (#453)
  build.include
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-sidecar-content-reader-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-sidecar-resource.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-sidecar-content-reader.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/che-content-aware-utils.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/document-container-aware.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/languages-container-aware.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Remove unused 'rhel.Dockerfile'
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/rhel.Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.0/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

add metrics plugin (#520)
  generator/src/templates/assembly-package.mst
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Disable 'eclipse/che-theia-endpoint-runtime' image
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix buildah login command in Kubernetes plugin sidecar
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix buildah login command in Kubernetes plugin sidecar (#524)
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove che-theia generator after installation.
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove che-theia generator after installation. (#525)
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Install the latest version of the LS
  dockerfiles/remote-plugin-go-1.12.9/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Provide ability to edit URL in the preview panel
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-mini-browser-open-handler.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Remove unused 'rhel.Dockerfile'
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/rhel.Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.0/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Install the latest version of the LS (#526)
  dockerfiles/remote-plugin-go-1.12.9/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Use Theia logging support, make listeners recursion-safe
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/remote-trace-logger.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add Dockerfile for OpenShift Connector plugin v0.1.1
  build.include
  dockerfiles/remote-plugin-openshift-connector-0.1.1/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.1/build.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.1/etc/entrypoint.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

fix a resize failed error in the browser console
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

Provide ability to edit URL in the preview panel
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-mini-browser-open-handler.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix terminal not found error on terminal start
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp
