Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

Use self signed certificate when do request to plugin registry (#539)
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-https.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use self signed certificate when do request to plugin registry (#539)
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-https.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use dashboard to restart the workspace (#541)
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use dashboard to restart the workspace 7.3.2 (#542)
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Prevent blinking of product logo in Welcome page
  plugins/welcome-plugin/resources/welcome-page.css
  plugins/welcome-plugin/src/welcome-page.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Release che-theia 7.3.2
  build.include
  che-theia-init-sources.yml
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

CHE-14616: Do not show git user config message if they set to global config
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-config-changes-tracker.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/status-bar-contribution.ts
  extensions/eclipse-che-theia-git-provisioner/src/common/git-protocol.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-backend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

feat(git): Add git man pages in theia-dev container Fixes https://github.com/eclipse/che/issues/15161
  dockerfiles/theia-dev/docker/alpine/install-dependencies.dockerfile
  dockerfiles/theia-dev/docker/ubi8/install-dependencies.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Persist Theia theme in user preferences (#536)
  extensions/eclipse-che-theia-user-preferences/package.json
  extensions/eclipse-che-theia-user-preferences/src/browser/che-theia-user-preferences-frontend-module.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-preferences.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-synchronizer.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Upload private ssh key
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Set default git clone directory to '/projects'
  generator/src/templates/assembly-package.mst
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Add cdn link to the scp meta tag
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix up.
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Read plugins sequientally
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Implement 'StorageService' for che to store in workspace
  extensions/eclipse-che-theia-user-preferences/src/browser/che-storage-frontend-contribution.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/che-storage-preferences.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/che-storage-service.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/che-theia-user-preferences-frontend-module.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-preferences.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-synchronizer.ts
  extensions/eclipse-che-theia-user-preferences/src/common/storage-server.ts
  extensions/eclipse-che-theia-user-preferences/src/node/che-storage-server.ts
  extensions/eclipse-che-theia-user-preferences/src/node/che-theia-user-preferences-backend-module.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Do not suggest to open link of exposed by workspace config port which has preview url
  plugins/ports-plugin/src/ports-plugin.ts
  plugins/ports-plugin/src/workspace-handler.ts
  plugins/ports-plugin/src/workspace-port.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

rename class
  extensions/eclipse-che-theia-user-preferences/src/browser/che-storage-frontend-contribution.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/che-theia-user-preferences-frontend-module.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Prevent blinking of product logo in Welcome page (#544)
  plugins/welcome-plugin/resources/welcome-page.css
  plugins/welcome-plugin/src/welcome-page.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Upgrade 'axios' to 0.19.0
  extensions/eclipse-che-theia-plugin-ext/package.json
  generator/package.json
  plugins/ssh-plugin/package.json
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Fix test, update 'yarn.lock'
  generator/tests/init-sources/init-sources.spec.ts
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

re-generate of yarn.lock
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Upgrade 'axios' to 0.19.0 (#554)
  extensions/eclipse-che-theia-plugin-ext/package.json
  generator/package.json
  generator/tests/init-sources/init-sources.spec.ts
  plugins/ssh-plugin/package.json
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Upgrade 'axios' to 0.19.0 (#554)
  extensions/eclipse-che-theia-plugin-ext/package.json
  generator/package.json
  generator/tests/init-sources/init-sources.spec.ts
  plugins/ssh-plugin/package.json
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Do not use webview service for product logo in about dialog
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

fix(build): Python dependencies are requiring gcc at build time Fixes https://github.com/eclipse/che/issues/15230
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

fix(build): Python dependencies are requiring gcc at build time Fixes https://github.com/eclipse/che/issues/15230
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add schema for che tasks
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-task-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-task-impl.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/task-plugin/src/schema/che-task-schema.ts
  plugins/task-plugin/src/task-plugin-backend.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

WIP: use of webview development in upstream theia Only for testing
  build.include
  dockerfiles/theia/Dockerfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Add schema for che tasks
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-task-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-task-impl.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/task-plugin/src/schema/che-task-schema.ts
  plugins/task-plugin/src/task-plugin-backend.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Do not use webview service for product logo in about dialog (#555)
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

feat(core) Use newer Kamel executable 1.0.0-M4 eclipse/che#15086
  dockerfiles/remote-plugin-camelk-0.0.10/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

feat(core) Use newer Kamel executable 1.0.0-M4 eclipse/che#15086
  dockerfiles/remote-plugin-camelk-0.0.10/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Do not suggest to open link of exposed by workspace config port which has preview url (#548)
  plugins/ports-plugin/src/ports-plugin.ts
  plugins/ports-plugin/src/workspace-handler.ts
  plugins/ports-plugin/src/workspace-port.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Rename constant
  extensions/eclipse-che-theia-user-preferences/src/node/che-storage-server.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

fix(dependencies): needs to update yarn.lock dependencies to use upstream enhancements needs to update yarn.lock dependencies to take these new changes else we're still stuck to old versions
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

fix(dependencies): needs to update yarn.lock dependencies to use upstream enhancements needs to update yarn.lock dependencies to take these new changes else we're still stuck to old versions
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Locate kubernetes tasks under corresponding containers
  plugins/containers-plugin/src/containers-service.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Implement 'StorageService' to store Theia state in workspace (#553)
  extensions/eclipse-che-theia-user-preferences/src/browser/che-storage-frontend-contribution.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/che-storage-preferences.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/che-storage-service.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/che-theia-user-preferences-frontend-module.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-preferences.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-synchronizer.ts
  extensions/eclipse-che-theia-user-preferences/src/common/storage-server.ts
  extensions/eclipse-che-theia-user-preferences/src/node/che-storage-server.ts
  extensions/eclipse-che-theia-user-preferences/src/node/che-theia-user-preferences-backend-module.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Remove che-machine-exec:next plugin from remote plugin devfile. che-machine-exec is predefined plugin and next tag is depracated.
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

CHE-14616: Do not show git user config message if they set to global config (#545)
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-config-changes-tracker.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/status-bar-contribution.ts
  extensions/eclipse-che-theia-git-provisioner/src/common/git-protocol.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-backend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp
