Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

CRW-537 reorganize dockerfile steps so we can override patch and post-patch steps, such that generated tarball includes patched theia sources (#571)
  dockerfiles/theia-dev/docker/ubi8/post-yarn-config.dockerfile
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/alpine/builder-patch-theia.dockerfile
  dockerfiles/theia/docker/alpine/builder-post-patch.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-patch-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-post-patch.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

CRW-537 reorganize dockerfile steps so we can override patch and post-patch steps, such that generated tarball includes patched theia sources (#571) (#577)
  dockerfiles/theia-dev/docker/ubi8/post-yarn-config.dockerfile
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/alpine/builder-patch-theia.dockerfile
  dockerfiles/theia/docker/alpine/builder-post-patch.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-patch-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-post-patch.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Adapt che tasks to updated validation system
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-task-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-task-impl.ts
  plugins/task-plugin/src/export/export-configs-manager.ts
  plugins/task-plugin/src/task-plugin-backend.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Remove che-theia e2e typescript test
  dockerfiles/theia/e2e/cypress/integration/theia/typescript.spec.ts
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add VS Code extension packager
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add VS Code extension packager (#580)
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  plugins/task-plugin/src/task/che-task-provider.ts
  plugins/task-plugin/src/task/che-task-runner.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Adapt che tasks to updated validation system
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-task-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-task-impl.ts
  plugins/task-plugin/src/export/export-configs-manager.ts
  plugins/task-plugin/src/task-plugin-backend.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

attempt to make build skip patches if they're already applied (CRW-537, CRW-510)
  dockerfiles/theia/docker/ubi8/builder-patch-theia.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  plugins/task-plugin/src/task/che-task-provider.ts
  plugins/task-plugin/src/task/che-task-runner.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

fix
  plugins/task-plugin/src/task/che-task-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Update .gitignore
  .gitignore
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Deprecate current.project.path variable
  plugins/task-plugin/src/variable/project-path-variable-resolver.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

if line_to_delete is null, don't try to apply a sed transform
  dockerfiles/theia/docker/ubi8/builder-post-clone.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

attempt to make build skip patches if they're already applied (CRW-537, CRW-510)
  dockerfiles/theia/docker/ubi8/builder-patch-theia.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

if line_to_delete is null, don't try to apply a sed transform
  dockerfiles/theia/docker/ubi8/builder-post-clone.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Devfile to develop VS Cde extensions
  devfiles/che-theia-all.devfile.yaml
  devfiles/vscode-extensions.devfile.yaml
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Add scripts for Centos CI
  cico_build_master.sh
  cico_build_nightly.sh
  cico_build_release.sh
  cico_common.sh
  dockerfiles/theia-dev/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

if line_to_delete is null, don't try to... (#582)
  dockerfiles/theia/docker/ubi8/builder-patch-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-post-clone.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Tmp
  extensions/che-theia-hosted-plugin-manager-extension/src/node/che-workspace-hosted-plugin-uri-post-processor.ts
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-server-common.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/plugin-service.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add scripts for Centos CI
  cico_build_master.sh
  cico_build_nightly.sh
  cico_build_release.sh
  cico_common.sh
  dockerfiles/theia-dev/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Fix che tasks after changes in Theia (#584)
  plugins/task-plugin/src/task/che-task-provider.ts
  plugins/task-plugin/src/task/che-task-runner.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Update .gitignore
  .gitignore
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Post message to Dashboard in order to refresh keycloak token.
  extensions/eclipse-che-theia-activity-tracker/src/browser/che-theia-activity-tracker-contribution.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Post message to Dashboard in order to refresh keycloak token. (#586)
  extensions/eclipse-che-theia-activity-tracker/src/browser/che-theia-activity-tracker-contribution.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add script for PR build job, update links for new ci
  README.md
  cico_build_pr.sh
  devfiles/che-theia-all.devfile.yaml
  dockerfiles/theia/README.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Add script for PR build job, update links for new ci
  README.md
  cico_build_pr.sh
  devfiles/che-theia-all.devfile.yaml
  dockerfiles/theia/README.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Put proxy aside and configure webview on another route on root path. Added attempt to workaround auth cookie setting by creating dummy iframe.
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Release che-theia 7.6.0
  build.include
  che-theia-init-sources.yml
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Correct resolving of current project path
  plugins/task-plugin/src/variable/project-path-variable-resolver.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Correct resolving of current project path
  plugins/task-plugin/src/variable/project-path-variable-resolver.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix restarting a workspace from iframe
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Update dockerfile
  CONTRIBUTING.md
  devfiles/che-theia-all.devfile.yaml
  dockerfiles/theia/Dockerfile
  generator/src/builtin-extensions.ts
  generator/src/yargs.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Fix
  CONTRIBUTING.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  generator/src/builtin-extensions.ts
  generator/src/conf/builtin-extensions
  generator/tests/builtin-extensions/builtin-extensions
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Update list of extensions
  generator/src/conf/builtin-extensions
  generator/tests/builtin-extensions/builtin-extensions
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  generator/src/conf/builtin-extensions
  generator/tests/builtin-extensions/builtin-extensions
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Get rid of wget
  generator/src/builtin-extensions.ts
  generator/tests/builtin-extensions/builtin-extensions.spec.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Introduce theia:builtin-extensions
  generator/src/__mocks__/command.ts
  generator/src/yargs.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix
  CONTRIBUTING.md
  dockerfiles/theia/Dockerfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp
