Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp

Register preview URL links as variables
  plugins/task-plugin/src/che-task-backend-module.ts
  plugins/task-plugin/src/che-workspace-client.ts
  plugins/task-plugin/src/preview/previews-widget.ts
  plugins/task-plugin/src/preview/task-events-handler.ts
  plugins/task-plugin/src/task-plugin-backend.ts
  plugins/task-plugin/src/variable/preview-url-variable-resolver.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

When using this template to generate Dockerfile for use in Brew, relative paths work; absolute ones do not
  dockerfiles/theia-endpoint-runtime/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

add URL from which container is fetched so we can use updateBaseImages.sh to get latest from RHCC; add console output to make it possible to audit installed rpms
  dockerfiles/theia/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia/docker/ubi8/runtime-install-dependencies.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

add URL from which container is fetched so we can use updateBaseImages.sh to get latest from RHCC; add console output to make it possible to audit installed rpms and node packages
  dockerfiles/theia-dev/Dockerfile
  dockerfiles/theia-dev/docker/ubi8/builder-image-from.dockerfile
  dockerfiles/theia-dev/docker/ubi8/install-dependencies.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

add URL from which container is fetched so we can use updateBaseImages.sh to get latest from RHCC
  dockerfiles/theia-endpoint-runtime/docker/ubi8/runtime-from.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

add URL from which container is fetched so... (#507)
  dockerfiles/theia-dev/Dockerfile
  dockerfiles/theia-dev/docker/ubi8/builder-image-from.dockerfile
  dockerfiles/theia-dev/docker/ubi8/install-dependencies.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia/docker/ubi8/runtime-install-dependencies.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

When using this template to generate Dockerfile for use in Brew, relative paths work; absolute ones do not (#506)
  dockerfiles/theia-endpoint-runtime/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

[Containers plugin] Unfold plugin container node only if it has a command (#504)
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

CHE-14615 Apply automatic SSH public key upload to Github
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-github-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-github.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/ssh-plugin/package.json
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Add paramneter to setup e2e test to run
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

CHE-14615 Apply automatic SSH public key upload to Github (#497)
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-github-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-github.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/ssh-plugin/package.json
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Downgrade Kubernetes plugin parent image to Buildah v1.11.2
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Enable the images build with Buildah in Kubernetes Plugin sidecar
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/etc/storage.conf
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

chore(build): Remove some folders that don't need to be compiled as they're not included in Theia
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

[Remote plugins] Call OnDidDeploy only if client is set
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Register preview URL links as variables
  plugins/task-plugin/src/che-task-backend-module.ts
  plugins/task-plugin/src/che-workspace-client.ts
  plugins/task-plugin/src/preview/previews-widget.ts
  plugins/task-plugin/src/preview/task-events-handler.ts
  plugins/task-plugin/src/task-plugin-backend.ts
  plugins/task-plugin/src/variable/preview-url-variable-resolver.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Use che-remote-plugin-kubernetes-tooling-1.0.4; turn off npm cache
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix message of sparse checkout to fit template
  plugins/factory-plugin/src/theia-commands.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

[Remote plugins] Call OnDidDeploy only if client is set (#508)
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add 'set -ex' option
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Enable the images build with Buildah in Kubernetes Plugin sidecar (#510)
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/etc/storage.conf
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add sleep to debug failure
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix removal of npm cache settings
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Increase build timeout
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Add entrypoint scripts for all sidecar images.
  dockerfiles/remote-plugin-clang-8/Dockerfile
  dockerfiles/remote-plugin-clang-8/etc/entrypoint.sh
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/etc/entrypoint.sh
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
  dockerfiles/remote-plugin-dotnet-2.2.105/etc/entrypoint.sh
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
  dockerfiles/remote-plugin-go-1.10.7/etc/entrypoint.sh
  dockerfiles/remote-plugin-go-1.12.9/Dockerfile
  dockerfiles/remote-plugin-go-1.12.9/etc/entrypoint.sh
  dockerfiles/remote-plugin-java11/Dockerfile
  dockerfiles/remote-plugin-java8/Dockerfile
  dockerfiles/remote-plugin-java8/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/.Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/etc/entrypoint.sh
  dockerfiles/remote-plugin-node/Dockerfile
  dockerfiles/remote-plugin-node/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.17/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.17/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.17/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.21/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.21/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.21/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.0/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.0/rhel.Dockerfile
  dockerfiles/remote-plugin-php7/Dockerfile
  dockerfiles/remote-plugin-php7/etc/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
  dockerfiles/remote-plugin-python-3.7.3/etc/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Rename user from theia to simple user.
  build.include
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/etc/entrypoint.sh
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/etc/entrypoint.sh
  dockerfiles/remote-plugin-dotnet-2.2.105/etc/entrypoint.sh
  dockerfiles/remote-plugin-go-1.10.7/etc/entrypoint.sh
  dockerfiles/remote-plugin-go-1.12.9/etc/entrypoint.sh
  dockerfiles/remote-plugin-java11/etc/entrypoint.sh
  dockerfiles/remote-plugin-java8/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/etc/entrypoint.sh
  dockerfiles/remote-plugin-node/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.17/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.21/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.0/etc/entrypoint.sh
  dockerfiles/remote-plugin-php7/etc/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.3/etc/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.4/etc/entrypoint.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Filter containers, displaying only non-tooling and add ability to show all
  plugins/task-plugin/src/machine/machines-picker.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Use minikube-rhel7-24gb slave by default
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix message of sparse checkout to fit template (#511)
  plugins/factory-plugin/src/theia-commands.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix up.
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/etc/entrypoint.sh
  dockerfiles/remote-plugin-dotnet-2.2.105/etc/entrypoint.sh
  dockerfiles/remote-plugin-go-1.10.7/etc/entrypoint.sh
  dockerfiles/remote-plugin-go-1.12.9/etc/entrypoint.sh
  dockerfiles/remote-plugin-java11/etc/entrypoint.sh
  dockerfiles/remote-plugin-java8/Dockerfile
  dockerfiles/remote-plugin-java8/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/.Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/etc/entrypoint.sh
  dockerfiles/remote-plugin-node/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.17/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.21/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.21/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.0/etc/entrypoint.sh
  dockerfiles/remote-plugin-php7/etc/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.3/etc/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.4/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Use component for task configuration instead of container name
  plugins/task-plugin/README.md
  plugins/task-plugin/src/che-task-backend-module.ts
  plugins/task-plugin/src/che-workspace-client.ts
  plugins/task-plugin/src/export/export-configs-manager.ts
  plugins/task-plugin/src/export/launch-configs-exporter.ts
  plugins/task-plugin/src/export/task-configs-exporter.ts
  plugins/task-plugin/src/machine/machines-picker.ts
  plugins/task-plugin/src/task/backward-compatibility.ts
  plugins/task-plugin/src/task/che-task-provider.ts
  plugins/task-plugin/src/task/converter.ts
  plugins/task-plugin/src/task/task-protocol.ts
  plugins/task-plugin/src/utils.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix up.
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix getting meta.yaml
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix losed CMD.
  dockerfiles/remote-plugin-openshift-connector-0.0.17/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.21/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Rework images for remote plugins (#485)
  build.include
  dockerfiles/remote-plugin-clang-8/Dockerfile
  dockerfiles/remote-plugin-clang-8/etc/entrypoint.sh
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/etc/entrypoint.sh
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/etc/entrypoint.sh
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/ubi8.Dockerfile
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
  dockerfiles/remote-plugin-dotnet-2.2.105/etc/entrypoint.sh
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
  dockerfiles/remote-plugin-go-1.10.7/etc/entrypoint.sh
  dockerfiles/remote-plugin-go-1.12.9/Dockerfile
  dockerfiles/remote-plugin-go-1.12.9/etc/entrypoint.sh
  dockerfiles/remote-plugin-java11/etc/entrypoint.sh
  dockerfiles/remote-plugin-java8/Dockerfile
  dockerfiles/remote-plugin-java8/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/etc/entrypoint.sh
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/etc/entrypoint.sh
  dockerfiles/remote-plugin-node/Dockerfile
  dockerfiles/remote-plugin-node/build.sh
  dockerfiles/remote-plugin-node/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.17/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.21/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.21/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.0/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.0/etc/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.0/rhel.Dockerfile
  dockerfiles/remote-plugin-php7/Dockerfile
  dockerfiles/remote-plugin-php7/etc/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
  dockerfiles/remote-plugin-python-3.7.3/etc/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/etc/entrypoint.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Fix image name
  build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix image name
  build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix pipeline
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Revert "add URL from which container is fetched so... (#507)"
  dockerfiles/theia-dev/Dockerfile
  dockerfiles/theia-dev/docker/ubi8/builder-image-from.dockerfile
  dockerfiles/theia-dev/docker/ubi8/install-dependencies.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia/docker/ubi8/runtime-install-dependencies.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Prevent remote plugin nodejs instance crash in case of unhandled exception inside a plugin
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp
