Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp

add 'github' project type to factory-plugin
  plugins/factory-plugin/src/theia-commands.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

add 'github' project type to factory-plugin (#450)
  plugins/factory-plugin/src/theia-commands.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Release '7.2.0'
  che-theia-init-sources.yml
  docker_image_build.include
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia/Dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Show notification when terminal fales to open.
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

Use 0.11.0 upstream theia before fixing breaking changes in upstream master
  .gitignore
  docker_image_build.include
  dockerfiles/theia/Dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Use 0.11.0 upstream theia before fixing breaking changes in upstream master
  .gitignore
  docker_image_build.include
  dockerfiles/theia/Dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Branding Welcome plugin
  plugins/welcome-plugin/resources/welcome-page.css
  plugins/welcome-plugin/src/branding.json
  plugins/welcome-plugin/src/branding.json.d.ts
  plugins/welcome-plugin/src/welcome-page.ts
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add comments
  plugins/welcome-plugin/src/branding.json.d.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fixup
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix
  dockerfiles/remote-plugin-go-1.12.9/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add remote binary image.
  docker_image_build.include
  dockerfiles/build.include
  dockerfiles/theia-endpoint-runtime-binary/Dockerfile
  dockerfiles/theia-endpoint-runtime-binary/build.sh
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-api-provider.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun

Update Content-Security-Policy
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Run Che command in selected container (#440)
  plugins/containers-plugin/src/containers-plugin.ts
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix getting processId at using terminal API
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

make the --skip-tests flag actually skip tests
  dockerfiles/build.include
  dockerfiles/theia-dev/build.sh
  dockerfiles/theia/build.sh
  dockerfiles/theia/e2e/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Fix up.
  dockerfiles/build.include
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

fixup! Show notification when terminal fales to open.
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

Add python 3.7.4 runtime to dependency analytics (#445)
  docker_image_build.include
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

use the same version of theia/generator-plugin@0.0.1-1562578105 as in theia/Dockerfile
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

According to Dockerfile linter in vscode, 'WORKDIR paths should be absolute'
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Revert "Add python 3.7.4 runtime to dependency analytics (#445)"
  docker_image_build.include
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Make name of Docker images consistent with Python installed version
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

fix build script
  dockerfiles/remote-plugin-python-3.7.4/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Include to the build script
  docker_image_build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Revert "Add python 3.7.4 runtime to dependency analytics (#445)" (#460)
  docker_image_build.include
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Use Theia typescript compiler settings and fix all errors
  configs/base.tsconfig.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-task-service.ts
  extensions/eclipse-che-theia-plugin-ext/webpack.config.js
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/terminal-container-aware.ts
  extensions/eclipse-che-theia-terminal/src/browser/contribution/exec-terminal-contribution.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-frontend-module.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  extensions/eclipse-che-theia-terminal/src/node/workspace-service-impl.ts
  plugins/containers-plugin/src/containers-service.ts
  plugins/containers-plugin/src/containers-tree-data-provider.ts
  plugins/factory-plugin/src/factory-initializer.ts
  plugins/factory-plugin/src/projects.ts
  plugins/factory-plugin/src/theia-commands.ts
  plugins/factory-plugin/src/workspace-projects-manager.ts
  plugins/ports-plugin/src/ports-plugin.ts
  plugins/ports-plugin/src/workspace-handler.ts
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
  plugins/task-plugin/src/che-workspace-client.ts
  plugins/task-plugin/src/machine/websocket.ts
  plugins/task-plugin/src/preview/preview-url-open-service.ts
  plugins/task-plugin/src/task/converter.ts
  plugins/task-plugin/src/variable/project-path-variable-resolver.ts
  plugins/welcome-plugin/src/welcome-plugin.ts
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Make name of Docker images consistent with Python installed version (#461)
  docker_image_build.include
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Remove extending from remote-runtime image.
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/entrypoint.sh
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
  dockerfiles/remote-plugin-dotnet-2.2.105/entrypoint.sh
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
  dockerfiles/remote-plugin-go-1.10.7/entrypoint.sh
  dockerfiles/remote-plugin-java11/Dockerfile
  dockerfiles/remote-plugin-java11/etc/entrypoint.sh
  dockerfiles/remote-plugin-java8/Dockerfile
  dockerfiles/remote-plugin-java8/etc/entrypoint.sh
  dockerfiles/remote-plugin-php7/Dockerfile
  dockerfiles/remote-plugin-php7/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
  dockerfiles/remote-plugin-python-3.7.3/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

sort runtime's commands
  plugins/containers-plugin/src/containers-service.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Show notification when terminal fails to open. (#452)
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

Fix getting processId at using terminal API
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

Use of theia upstream master branch
  docker_image_build.include
  dockerfiles/theia/Dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-frontend-service.ts
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/server-plugin-proxy-runner.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/terminal-container-aware.ts
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

According to Dockerfile linter in vscode, 'WORKDIR paths should be absolute' (#459)
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

use the same version of theia/generator-plugin@0.0.1-1562578105 as in theia/Dockerfile
  dockerfiles/theia-dev/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove unneeded type definition, use same version for @types/ini
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/src/node/che-task-service.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Validate SSH keys list before view/delete
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Use theia-plugin-ext from node_modules.
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-api-provider.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Validate SSH keys list before view/delete (#448)
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Use of theia upstream master branch
  docker_image_build.include
  dockerfiles/theia/Dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-frontend-service.ts
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/server-plugin-proxy-runner.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/terminal-container-aware.ts
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

sort runtime's commands (#463)
  plugins/containers-plugin/src/containers-service.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp
