Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp

Plugin Versions: solve feedbacks
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Plugin Versions: solve feedbacks (#418)
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Hide Plugins view (#322)
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-menu.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-view-contribution.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add no key pair warnings
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
  yarn.lock
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp, @evidolob

Fix clang
  dockerfiles/remote-plugin-clang-8/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add remote plugins resource provider contribution
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/remote-plugin-resources-provider.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix clang (#420)
  dockerfiles/remote-plugin-clang-8/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

commit
  package.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

new pull request
  README.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fixup: Hide Plugins view from upstream
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-command-contribution.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-menu.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fixup: Hide Plugins view from upstream (#425)
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-command-contribution.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-menu.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Release che-theia 7.1.0
  che-theia-init-sources.yml
  docker_image_build.include
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia/Dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Add Jenkinsfile to Happy path PR check
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix variable reference
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix credentials id
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Use python:3.7.4-slim as a base image for python
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add Host Key checking policy attribute to the ssh config
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add Host Key checking policy attribute to the ssh config (#428)
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Generate settings.xml
  dockerfiles/theia-endpoint-runtime/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

change tooltips for workspace commands
  plugins/containers-plugin/src/containers-service.ts
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

change tooltips for workspace commands
  plugins/containers-plugin/src/containers-service.ts
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Use eclipse/che-e2e:nightly
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Clone e2e tests from master branch
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Increase build timeout
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Use nodejs 10.9.0
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Restore parallel stages
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix path to deploy dir
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Implement remote plugin resources retrieving
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-reader-extension.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

update che task format
  plugins/task-plugin/README.md
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Run `node-gyp install` before rebuilds.
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
  dockerfiles/theia/e2e/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add devfile and doc for developing of Che Theia remote plugin mechanism
  CONTRIBUTING.md
  extensions/eclipse-che-theia-plugin-remote/README.md
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Add a command to populate local package cache for dotnet image
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Workaround che start failure
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

chore(CONTRIBUTING.md): improve toc and title
  CONTRIBUTING.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

chore(CONTRIBUTING.md): fix toc link
  CONTRIBUTING.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

fix
  dockerfiles/remote-plugin-java11/Dockerfile
  dockerfiles/remote-plugin-java11/etc/before-start.sh
  dockerfiles/remote-plugin-java8/Dockerfile
  dockerfiles/remote-plugin-java8/etc/before-start.sh
  dockerfiles/theia-endpoint-runtime/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add devfile and doc for developing of Che Theia remote plugin mechanism (#413)
  CONTRIBUTING.md
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Add a command to populate local package cache for dotnet image (#433)
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

fix
  dockerfiles/remote-plugin-java11/etc/before-start.sh
  dockerfiles/remote-plugin-java8/etc/before-start.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Generate settings.xml if MAVEN_MIRROR_URL is set (#429)
  dockerfiles/remote-plugin-java11/Dockerfile
  dockerfiles/remote-plugin-java11/etc/before-start.sh
  dockerfiles/remote-plugin-java8/Dockerfile
  dockerfiles/remote-plugin-java8/etc/before-start.sh
  dockerfiles/theia-endpoint-runtime/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp
