Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

Add devfile support
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob

Format mock data.
  plugins/ports-plugin/tests/port-changes-detector/port-changes-detector-after.stdout
  plugins/ports-plugin/tests/port-changes-detector/port-changes-detector-before.stdout
  plugins/ports-plugin/tests/port-scanner/port-scanner-listen-ipv4.stdout
Owners: @sunix, @vitaliy-guliy, @olexii4

Stop calling the external command in port-plugin.
  plugins/ports-plugin/package.json
  plugins/ports-plugin/src/__mocks__/command.ts
  plugins/ports-plugin/src/cli-error.ts
  plugins/ports-plugin/src/command.ts
  plugins/ports-plugin/src/port-changes-detector.ts
  plugins/ports-plugin/src/port-scanner.ts
  plugins/ports-plugin/tests/command.spec.ts
  plugins/ports-plugin/tests/port-changes-detector/port-changes-detector.spec.ts
  plugins/ports-plugin/tests/port-scanner/port-scanner.spec.ts
  tsconfig.json
Owners: @sunix, @vitaliy-guliy, @olexii4, @evidolob, @vparfonov, @l0rd, @rhopp

Use native git instead of git plugin in the factory plugin
  plugins/factory-plugin/src/theia-commands.ts
Owners: @sunix, @vitaliy-guliy, @olexii4

Devfile plugins (#343)
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob

Use native git instead of git plugin in the factory plugin (#339)
  plugins/factory-plugin/src/theia-commands.ts
Owners: @sunix, @vitaliy-guliy, @olexii4

Use native git instead of git plugin in the factory plugin (#344)
  plugins/factory-plugin/src/theia-commands.ts
Owners: @sunix, @vitaliy-guliy, @olexii4

Stop calling the external command in port-plugin.
  plugins/ports-plugin/package.json
  plugins/ports-plugin/src/__mocks__/command.ts
  plugins/ports-plugin/src/cli-error.ts
  plugins/ports-plugin/src/command.ts
  plugins/ports-plugin/src/port-changes-detector.ts
  plugins/ports-plugin/src/port-scanner.ts
  plugins/ports-plugin/tests/command.spec.ts
  plugins/ports-plugin/tests/port-changes-detector/port-changes-detector.spec.ts
  plugins/ports-plugin/tests/port-scanner/port-scanner.spec.ts
  tsconfig.json
Owners: @sunix, @vitaliy-guliy, @olexii4, @evidolob, @vparfonov, @l0rd, @rhopp

Stop calling the external command in port-plugin.
  plugins/ports-plugin/package.json
  plugins/ports-plugin/src/__mocks__/command.ts
  plugins/ports-plugin/src/cli-error.ts
  plugins/ports-plugin/src/command.ts
  plugins/ports-plugin/src/port-changes-detector.ts
  plugins/ports-plugin/src/port-scanner.ts
  plugins/ports-plugin/tests/command.spec.ts
  plugins/ports-plugin/tests/port-changes-detector/port-changes-detector.spec.ts
  plugins/ports-plugin/tests/port-scanner/port-scanner.spec.ts
  tsconfig.json
Owners: @sunix, @vitaliy-guliy, @olexii4, @evidolob, @vparfonov, @l0rd, @rhopp

README: Adding contribution section based on devfile + provide devfile (#326)
  CONTRIBUTING.md
  README.md
  devfiles/che-theia-all.devfile.yaml
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Use 'che-7.0.0' Theia branch instead of '0.8.0' tag
  docker_image_build.include
  dockerfiles/theia-dev/e2e/Dockerfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

README, fix link to CONTRIBUTING.md
  README.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

CONTRIBUTING.md fix link to devfile
  CONTRIBUTING.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Add devfile support
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob

Fix /go/pkg folder permissions
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
Owners: @benoitf, @evidolob

Fix
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
Owners: @benoitf, @evidolob

Use 'che-7.0.0' Theia branch instead of '0.8.0' tag
  docker_image_build.include
  dockerfiles/theia-dev/e2e/Dockerfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Fix /go/pkg folder permissions (#348)
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
Owners: @benoitf, @evidolob

Add devfile support (#345)
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob

Change docker images version to '7.0.0-next'
  docker_image_build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

add view parts
  che-theia-init-sources.yml
  plugins/welcome-plugin/package.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Fix /go/pkg folder permissions (#348)
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
Owners: @benoitf, @evidolob

Store SSH private key on the file system
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @sunix, @vitaliy-guliy, @olexii4

fix plugin json
  plugins/welcome-plugin/package.json
Owners: @sunix, @vitaliy-guliy, @olexii4

Change docker images version to '7.0.0-next'
  docker_image_build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Update README docker image build section
  README.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

AAAA
  plugins/welcome-plugin/src/welcome-page.ts
Owners: @sunix, @vitaliy-guliy, @olexii4

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob
plugins/** @sunix @vitaliy-guliy @olexii4
extensions/** @mmorhun @evidolob
che-plugins/** @evidolob @tolusha
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr
