Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

chore(docker-theia): Remove verbose mode when creating archive
  dockerfiles/theia/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker): Add ubi8 images for endpoint-runtime && endpoint-runtime-binary
  dockerfiles/theia-endpoint-runtime-binary/Dockerfile
  dockerfiles/theia-endpoint-runtime-binary/build.sh
  dockerfiles/theia-endpoint-runtime-binary/docker/alpine/builder-from.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/alpine/builder-setup.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/alpine/runtime-from.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/alpine/runtime-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/ubi8/builder-from.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/ubi8/builder-setup.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/ubi8/runtime-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia-endpoint-runtime/docker/alpine/builder-from.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/alpine/builder-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/alpine/runtime-from.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/alpine/runtime-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/builder-from.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/builder-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/runtime-post-env.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker): Fix the directory to copy default plugins Fix #14846
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add ubi based images for plython plugins
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile.ubi
  dockerfiles/remote-plugin-python-3.7.4/Dockerfile.ubi
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Use images instead product name
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-product-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-product-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-product.ts
  extensions/eclipse-che-theia-plugin-ext/src/resource/che-logo-dark.svg
  extensions/eclipse-che-theia-plugin-ext/src/resource/che-logo-light.svg
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker): Use COPY instruction instead of ADD/expand mode as it's unsupported in RHEL/brew system
  dockerfiles/theia-dev/Dockerfile
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker): Add ubi8 images for endpoint-runtime && endpoint-runtime-binary
  dockerfiles/theia-endpoint-runtime-binary/Dockerfile
  dockerfiles/theia-endpoint-runtime-binary/build.sh
  dockerfiles/theia-endpoint-runtime-binary/docker/alpine/builder-from.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/alpine/builder-setup.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/alpine/runtime-from.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/alpine/runtime-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/ubi8/builder-from.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/ubi8/builder-setup.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia-endpoint-runtime-binary/docker/ubi8/runtime-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime/Dockerfile
  dockerfiles/theia-endpoint-runtime/docker/alpine/builder-from.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/alpine/builder-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/alpine/runtime-from.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/alpine/runtime-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/builder-from.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/builder-post-env.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/runtime-from.dockerfile
  dockerfiles/theia-endpoint-runtime/docker/ubi8/runtime-post-env.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker-theia): Remove verbose mode when creating archive
  dockerfiles/theia/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

chore(docker): Fix the directory to copy default plugins Fix #14846
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Welcome plugin: Display logo image instead project name
  plugins/welcome-plugin/resources/welcome-page.css
  plugins/welcome-plugin/src/welcome-page.ts
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Display links in Welcome page
  plugins/welcome-plugin/src/welcome-page.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add parameters
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Update: Display product logo as image instead displaying in text (#482)
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-product-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-product-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-product.ts
  extensions/eclipse-che-theia-plugin-ext/src/resource/che-logo-dark.svg
  extensions/eclipse-che-theia-plugin-ext/src/resource/che-logo-light.svg
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/welcome-plugin/resources/welcome-page.css
  plugins/welcome-plugin/src/welcome-page.ts
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

fix(dependencies): Update che-workspace-client dependency to remove github moxios dependency
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Add message in status bar if user.name and/or user.email not configured
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-backend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add message in status bar if user.name and/or user.email not configured
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/status-bar-contribution.ts
  extensions/eclipse-che-theia-git-provisioner/src/common/git-notification-proxy.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-backend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add missed files
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-config-changes-tracker.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Rename 'Dockerfile.rhel(ubi)' to 'rhel.Dockerfile'
  dockerfiles/remote-plugin-java11/rhel.Dockerfile
  dockerfiles/remote-plugin-java8/rhel.Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/rhel.Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/rhel.Dockerfile
  dockerfiles/remote-plugin-node/rhel.Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.17/rhel.Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.21/rhel.Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.0/rhel.Dockerfile
  dockerfiles/remote-plugin-python-3.7.3/rhel.Dockerfile
  dockerfiles/remote-plugin-python-3.7.4/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add new line
  extensions/eclipse-che-theia-git-provisioner/package.json
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

chore(build): root build.sh args should be given to sub-folders as well for example --skip-tests in root build.sh is not given to dockerfiles build.sh
  build.include
  build.sh
  docker_image_build.include
  dockerfiles/theia/README.md
  set_theia_version.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

fix(dependencies): Update che-workspace-client dependency to remove github moxios dependency
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

chore(build): root build.sh args should be given to sub-folders as well for example --skip-tests in root build.sh is not given to dockerfiles build.sh
  build.include
  build.sh
  docker_image_build.include
  dockerfiles/theia/README.md
  set_theia_version.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

fix(about-dialog): eclipse-theia repository has moved to another org
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

fix(about-dialog): Invalid sha1 for che-theia repository
  .gitignore
  dockerfiles/theia/build.sh
  extensions/eclipse-che-theia-about/scripts/generate-about-details.js
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun

Modify 'configStorage' path for remote plugin
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add --dockerfile:Dockerfile.alpine
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Investigate absence of images
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Set $cheTheiaImagesTag = $ghprbPullId
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix applying remote plugin contributions when deploy slower than frontend start.
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Turn off npm-cache
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Parameterize ghprbPullId
  jenkins/crw-ci/pr-check/k8s/Jenkinsfile
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

fix(about-dialog): eclipse-theia repository has moved to another org
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

fix(about-dialog): Invalid sha1 for che-theia repository
  .gitignore
  dockerfiles/theia/build.sh
  extensions/eclipse-che-theia-about/scripts/generate-about-details.js
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun

Modify 'configStorage' path for remote plugin
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

chore(build): Remove some folders that don't need to be compiled as they're not included in Theia
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add message in status bar if user.name and/or user.email not configured (#484)
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-config-changes-tracker.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/browser/status-bar-contribution.ts
  extensions/eclipse-che-theia-git-provisioner/src/common/git-notification-proxy.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-backend-module.ts
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix applying remote plugin contributions when deploy slower than frontend start. (#490)
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix and improve devfiles.
  devfiles/che-theia-all.devfile.yaml
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Release che-theia 7.3.0 with theia '1d67c3854e65445f0a5f66ce7e25793a51b662e1' commit
  build.include
  build.sh
  che-theia-init-sources.yml
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Return yarn call
  build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp
