Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp

Fix
  generator/src/conf/builtin-extensions
  generator/tests/builtin-extensions/builtin-extensions
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Update extensions list
  generator/src/builtin-extensions.ts
  generator/src/conf/builtin-extensions
  generator/src/templates/assembly-package.mst
  generator/tests/builtin-extensions/builtin-extensions
  generator/tests/init-sources/assembly-example/assembly-package.json
  generator/tests/production/assembly/package.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Introduce theia:builtin-extensions
  generator/src/builtin-extensions.ts
  generator/src/conf/builtin-extensions
  generator/tests/builtin-extensions/builtin-extensions
  generator/tests/builtin-extensions/builtin-extensions.spec.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Use vsix packages
  generator/src/builtin-extensions.ts
  generator/src/conf/builtin-extensions
  generator/src/yargs.ts
  generator/tests/builtin-extensions/builtin-extensions
  generator/tests/builtin-extensions/builtin-extensions.spec.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix restarting a workspace from iframe (#589)
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

che #15469 Initial implementation of the 'telemetry-plugin' Co-authored-by: Ilya Buziuk <ibuziuk@redhat.com>
  che-theia-init-sources.yml
  extensions/eclipse-che-theia-activity-tracker/src/node/activity-tracker-service.ts
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-telemetry-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-telemetry.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/task-plugin/src/variable/project-path-variable-resolver.ts
  plugins/telemetry-plugin/.gitignore
  plugins/telemetry-plugin/README.md
  plugins/telemetry-plugin/lib/telemetry-plugin.d.ts
  plugins/telemetry-plugin/lib/telemetry-plugin.d.ts.map
  plugins/telemetry-plugin/lib/telemetry-plugin.js
  plugins/telemetry-plugin/lib/telemetry-plugin.js.map
  plugins/telemetry-plugin/package.json
  plugins/telemetry-plugin/src/telemetry-plugin.ts
  plugins/telemetry-plugin/tsconfig.json
  plugins/telemetry-plugin/tsfmt.json
  plugins/telemetry-plugin/webpack.configold..js
  workspace-for-dev.theia-workspace
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun, @sunix, @vitaliy-guliy, @olexii4

che-15469 Removing generated 'lib' folder from the 'telemetry-plugin'
  plugins/telemetry-plugin/lib/telemetry-plugin.d.ts
  plugins/telemetry-plugin/lib/telemetry-plugin.d.ts.map
  plugins/telemetry-plugin/lib/telemetry-plugin.js
  plugins/telemetry-plugin/lib/telemetry-plugin.js.map
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

che #15469 Updating README.md of the telemetry plugin
  plugins/telemetry-plugin/README.md
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix build
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-activity-tracker/src/node/activity-tracker-service.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use a dedicated server as webview domain
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-webview-environment.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-server-common.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

fix(e2e): Update selector entry
  dockerfiles/theia/e2e/cypress/integration/theia/typescript.spec.ts
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

fix(e2e): Update selector entry
  dockerfiles/theia/e2e/cypress/integration/theia/typescript.spec.ts
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

fixup! Addressing review comments
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-telemetry-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-telemetry.ts
  plugins/telemetry-plugin/package.json
  plugins/telemetry-plugin/webpack.configold..js
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

che #15469 Initial implementation of the 'telemetry-plugin' Co-authored-by: Ilya Buziuk <ibuziuk@redhat.com>
  che-theia-init-sources.yml
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-activity-tracker/src/node/activity-tracker-service.ts
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-telemetry-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-telemetry.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/task-plugin/src/variable/project-path-variable-resolver.ts
  plugins/telemetry-plugin/.gitignore
  plugins/telemetry-plugin/README.md
  plugins/telemetry-plugin/package.json
  plugins/telemetry-plugin/src/telemetry-plugin.ts
  plugins/telemetry-plugin/tsconfig.json
  plugins/telemetry-plugin/tsfmt.json
  plugins/telemetry-plugin/webpack.configold..js
  workspace-for-dev.theia-workspace
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun, @sunix, @vitaliy-guliy, @olexii4

fixup! Using 'latest' version of the '@eclipse-che/workspace-telemetry-client'
  extensions/eclipse-che-theia-plugin-ext/package.json
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Rename factory-plugin to workspace-plugin
  CONTRIBUTING.md
  che-theia-init-sources.yml
  devfiles/che-theia-all.devfile.yaml
  plugins/factory-plugin/.gitignore
  plugins/workspace-plugin/.gitignore
  plugins/workspace-plugin/.travis.yml
  plugins/workspace-plugin/README.md
  plugins/workspace-plugin/package.json
  plugins/workspace-plugin/src/devfile.ts
  plugins/workspace-plugin/src/ephemeral-workspace-checker.ts
  plugins/workspace-plugin/src/exec.ts
  plugins/workspace-plugin/src/factory-initializer.ts
  plugins/workspace-plugin/src/file-uri.ts
  plugins/workspace-plugin/src/git.ts
  plugins/workspace-plugin/src/projects.ts
  plugins/workspace-plugin/src/theia-commands.ts
  plugins/workspace-plugin/src/workspace-plugin.ts
  plugins/workspace-plugin/src/workspace-projects-manager.ts
  plugins/workspace-plugin/tests/file-uri.spec.ts
  plugins/workspace-plugin/tests/git.spec.ts
  plugins/workspace-plugin/tests/projects.spec.ts
  plugins/workspace-plugin/tsconfig.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

fixup! Addressing review comments
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-telemetry-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-telemetry.ts
  plugins/telemetry-plugin/package.json
  plugins/telemetry-plugin/webpack.configold..js
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

fixup! Using 'latest' version of the '@eclipse-che/workspace-telemetry-client'
  extensions/eclipse-che-theia-plugin-ext/package.json
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

che #15469 Initial implementation of the 'telemetry-plugin' Co-authored-by: Ilya Buziuk <ibuziuk@redhat.com>
  che-theia-init-sources.yml
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-activity-tracker/src/node/activity-tracker-service.ts
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-telemetry-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-telemetry.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/task-plugin/src/variable/project-path-variable-resolver.ts
  plugins/telemetry-plugin/.gitignore
  plugins/telemetry-plugin/README.md
  plugins/telemetry-plugin/package.json
  plugins/telemetry-plugin/src/telemetry-plugin.ts
  plugins/telemetry-plugin/tsconfig.json
  plugins/telemetry-plugin/tsfmt.json
  plugins/telemetry-plugin/webpack.configold..js
  workspace-for-dev.theia-workspace
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun, @sunix, @vitaliy-guliy, @olexii4

Release che-theia 7.7.0
  build.include
  che-theia-init-sources.yml
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/telemetry-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Rename factory-plugin to workspace-plugin (#592)
  CONTRIBUTING.md
  che-theia-init-sources.yml
  devfiles/che-theia-all.devfile.yaml
  plugins/factory-plugin/.gitignore
  plugins/workspace-plugin/.gitignore
  plugins/workspace-plugin/.travis.yml
  plugins/workspace-plugin/README.md
  plugins/workspace-plugin/package.json
  plugins/workspace-plugin/src/devfile.ts
  plugins/workspace-plugin/src/ephemeral-workspace-checker.ts
  plugins/workspace-plugin/src/exec.ts
  plugins/workspace-plugin/src/factory-initializer.ts
  plugins/workspace-plugin/src/file-uri.ts
  plugins/workspace-plugin/src/git.ts
  plugins/workspace-plugin/src/projects.ts
  plugins/workspace-plugin/src/theia-commands.ts
  plugins/workspace-plugin/src/workspace-plugin.ts
  plugins/workspace-plugin/src/workspace-projects-manager.ts
  plugins/workspace-plugin/tests/file-uri.spec.ts
  plugins/workspace-plugin/tests/git.spec.ts
  plugins/workspace-plugin/tests/projects.spec.ts
  plugins/workspace-plugin/tsconfig.json
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Use theia-plugin instead of theia:plugin.
  plugins/containers-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/telemetry-plugin/package.json
  plugins/welcome-plugin/package.json
  plugins/workspace-plugin/package.json
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Provide the release instructions
  RELEASE.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Use CHE_API_INTERNAL instead of CHE_API_EXTERNAL.
  extensions/eclipse-che-theia-terminal/src/node/workspace-service-impl.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

Use correct binary for packaging plugin into zip container
  plugins/containers-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  plugins/workspace-plugin/package.json
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Provide the release instructions (#599)
  RELEASE.md
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Use correct binary for packaging plugin into zip container
  plugins/containers-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  plugins/workspace-plugin/package.json
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp
