Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azatsarynnyy, @benoitf, @RomanNikitenko, @vzhukovskii, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

.github/CODEOWNERS:

# Default Owners
* @azatsarynnyy @benoitf

# custom folders
configs/** @azatsarynnyy @RomanNikitenko @vzhukovskii @benoitf
devfiles/** @azatsarynnyy @RomanNikitenko @vzhukovskii @benoitf
dockerfiles/** @azatsarynnyy @RomanNikitenko @vzhukovskii @benoitf
extensions/** @azatsarynnyy @RomanNikitenko @vzhukovskii @benoitf
generator/** @azatsarynnyy @RomanNikitenko @vzhukovskii @benoitf
plugins/** @ericwill @vinokurig @vitaliy-guliy @svor @tsmaeder @benoitf

feat(upgrade): Upgrade some components and also set resolution for minimist which has CVE
  package.json
  yarn.lock
Owners: @azatsarynnyy, @benoitf

feat(jest): bump to the latest version fix unused imports/typescript errors with this new update
  generator/package.json
  package.json
  plugins/ports-plugin/package.json
  plugins/ports-plugin/tests/port-changes-detector/port-changes-detector.spec.ts
  plugins/workspace-plugin/package.json
  plugins/workspace-plugin/tests/file-uri.spec.ts
  plugins/workspace-plugin/tests/git.spec.ts
  plugins/workspace-plugin/tests/projects.spec.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

feat(nexe): remove nexe from the generator as now it's built from the che-theia repository
  generator/CONTRIBUTING.md
  generator/package.json
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

feat(upgrade): Upgrade some components and also set resolution for minimist which has CVE
  package.json
  yarn.lock
Owners: @azatsarynnyy, @benoitf

feat(nexe): remove nexe from the generator as now it's built from the che-theia repository
  generator/CONTRIBUTING.md
  generator/package.json
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

feat(jest): bump to the latest version fix unused imports/typescript errors with this new update
  generator/package.json
  package.json
  plugins/ports-plugin/package.json
  plugins/ports-plugin/tests/port-changes-detector/port-changes-detector.spec.ts
  plugins/workspace-plugin/package.json
  plugins/workspace-plugin/tests/file-uri.spec.ts
  plugins/workspace-plugin/tests/git.spec.ts
  plugins/workspace-plugin/tests/projects.spec.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

Use keycloak token for oAuth requests (#694)
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-github-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-oauth-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-openshift-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/oauth-utils.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-oauth.ts
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

fix(await-thenable): forbid the use of await if there is no promise seems that we were waiting in terminal for the defered object and not its promise so it might solve a potential issue
  configs/eslint.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-variables-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  extensions/eclipse-che-theia-terminal/src/node/workspace-service-impl.ts
  plugins/github-auth-plugin/src/github-auth-plugin.ts
  plugins/task-plugin/src/preview/tasks-preview-manager.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

feat(eslint): Move eslint configuration in several files to better know what are the rules added by che-theia
  configs/eslint.base.json
  configs/eslint.che-theia.json
  configs/eslint.json
  configs/eslint.theia.errors.json
  configs/eslint.theia.warnings.json
  configs/theia.eslint.json
  yarn.lock
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

fix(no-unnecessary-type-assertion): prohibits using a type assertion that does not change the type of an expression
  configs/eslint.json
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.tsx
  extensions/eclipse-che-theia-dashboard/src/browser/theia-dashboard-client.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/task-status-handler.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
  extensions/eclipse-che-theia-terminal/src/browser/contribution/exec-terminal-contribution.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  plugins/ports-plugin/src/workspace-handler.ts
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
  plugins/task-plugin/src/task/che-task-provider.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

fix(sonarlint): fix some checks reported by https://github.com/eclipse/che/issues/16070
  dockerfiles/theia/e2e/src/snapshots.js
  extensions/eclipse-che-theia-about/scripts/generate-about-details.js
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins-caching.css
  generator/src/init.ts
  generator/src/yarn.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

fix(sonarjs/no-unused-collection): When a collection is populated but its contents are never used, then it is surely some kind of mistake
  configs/eslint.json
  extensions/eclipse-che-theia-logging/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  package.json
  yarn.lock
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

fix(no-small-switch): avoid small switches
  configs/eslint.json
  extensions/eclipse-che-theia-plugin-remote/src/node/websocket.ts
  plugins/task-plugin/src/machine/websocket.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

Add robustness in CDN support,when CDN URLs trigger client-side errors (#15382 Fix) (#691)
  generator/src/cdn/base.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

Optimize Dockerfiles to remove the redundant steps in the release script
  RELEASE.md
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia/Dockerfile
  set_theia_version.sh
Owners: @azatsarynnyy, @benoitf, @RomanNikitenko, @vzhukovskii

feat(optimize): remove e2e tests of theia-dev as che-theia is built in theia image anyway
  dockerfiles/theia-dev/build.sh
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia-dev/e2e/build.sh
  dockerfiles/theia-dev/e2e/docker/alpine/post-clone.dockerfile
  dockerfiles/theia-dev/e2e/docker/ubi8/post-clone.dockerfile
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

feat(optimize): remove e2e tests of theia-dev as che-theia is built in theia image anyway
  dockerfiles/theia-dev/build.sh
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia-dev/e2e/build.sh
  dockerfiles/theia-dev/e2e/docker/alpine/post-clone.dockerfile
  dockerfiles/theia-dev/e2e/docker/ubi8/post-clone.dockerfile
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

feat(perf): disable linters of theia+che-theia when doing build of theia image
  dockerfiles/theia/Dockerfile
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

chore(github): Add GH action that allow to use parallel builds
  .github/workflows/pr.yml
Owners: @azatsarynnyy, @benoitf

Add robustness in CDN support,when CDN URLs trigger client-side errors (#15382 Fix) (#706)
  generator/src/cdn/base.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

feat(perf): disable linters of theia+che-theia when doing build of theia image
  dockerfiles/theia/Dockerfile
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

chore(github): Add GH action that allow to use parallel builds
  .github/workflows/pr.yml
Owners: @azatsarynnyy, @benoitf

feat(eslint): Move eslint configuration in several files to better know what are the rules added by che-theia
  configs/eslint.base.json
  configs/eslint.che-theia.json
  configs/eslint.json
  configs/eslint.theia.errors.json
  configs/eslint.theia.warnings.json
  configs/theia.eslint.json
  yarn.lock
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

fix(await-thenable): forbid the use of await if there is no promise seems that we were waiting in terminal for the defered object and not its promise so it might solve a potential issue
  configs/eslint.json
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-variables-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  extensions/eclipse-che-theia-terminal/src/node/workspace-service-impl.ts
  plugins/github-auth-plugin/src/github-auth-plugin.ts
  plugins/task-plugin/src/preview/tasks-preview-manager.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

fix(sonarlint): fix some checks reported by https://github.com/eclipse/che/issues/16070
  dockerfiles/theia/e2e/src/snapshots.js
  extensions/eclipse-che-theia-about/scripts/generate-about-details.js
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins-caching.css
  generator/src/init.ts
  generator/src/yarn.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

fix(sonarjs/no-unused-collection): When a collection is populated but its contents are never used, then it is surely some kind of mistake
  configs/eslint.json
  extensions/eclipse-che-theia-logging/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  package.json
  yarn.lock
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf

fix(no-small-switch): avoid small switches
  configs/eslint.json
  extensions/eclipse-che-theia-plugin-remote/src/node/websocket.ts
  plugins/task-plugin/src/machine/websocket.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

fix(no-unnecessary-type-assertion): prohibits using a type assertion that does not change the type of an expression
  configs/eslint.json
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.tsx
  extensions/eclipse-che-theia-dashboard/src/browser/theia-dashboard-client.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/task-status-handler.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
  extensions/eclipse-che-theia-terminal/src/browser/contribution/exec-terminal-contribution.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  plugins/ports-plugin/src/workspace-handler.ts
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
  plugins/task-plugin/src/task/che-task-provider.ts
Owners: @azatsarynnyy, @RomanNikitenko, @vzhukovskii, @benoitf, @ericwill, @vinokurig, @vitaliy-guliy, @svor, @tsmaeder

Add non-interactive release script
  RELEASE.md
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
  make-release.sh
  set_theia_version.sh
Owners: @azatsarynnyy, @benoitf, @RomanNikitenko, @vzhukovskii
