Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp

trigger ci build
  dockerfiles/remote-plugin-openshift-connector-0.1.1/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

feat(core) Use a newer Kamel executable for the latest VS Code Camel K Tooling extension eclipse/che#15086
  build.include
  dockerfiles/remote-plugin-camelk-0.0.10/Dockerfile
  dockerfiles/remote-plugin-camelk-0.0.10/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Add Dockerfile for OpenShift Connector plugin v0.1.1 (#529)
  build.include
  dockerfiles/remote-plugin-openshift-connector-0.1.1/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.1/build.sh
  dockerfiles/remote-plugin-openshift-connector-0.1.1/etc/entrypoint.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

fix a resize failed error in the browser console
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

Fix terminal not found error on terminal start (#531)
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

feat(core) Use a newer Kamel executable for the latest VS Code Camel K Tooling extension eclipse/che#15086
  build.include
  dockerfiles/remote-plugin-camelk-0.0.10/Dockerfile
  dockerfiles/remote-plugin-camelk-0.0.10/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Omit git history, increase timeout
  generator/src/init-sources.ts
  generator/src/repository.ts
  generator/tests/init-sources/init-sources.spec.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Release '7.4.0'
  build.include
  che-theia-init-sources.yml
  dockerfiles/theia-dev/e2e/Dockerfile
  dockerfiles/theia/Dockerfile
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-about/package.json
  extensions/eclipse-che-theia-activity-tracker/package.json
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin/package.json
  extensions/eclipse-che-theia-preferences-provider-extension/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-user-preferences/package.json
  plugins/containers-plugin/package.json
  plugins/factory-plugin/package.json
  plugins/ports-plugin/package.json
  plugins/ssh-plugin/package.json
  plugins/task-plugin/package.json
  plugins/welcome-plugin/package.json
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Fix notification in Plugins view
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix notification text in Plugins view
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Omit git history, increase timeout (#534)
  generator/src/init-sources.ts
  generator/src/repository.ts
  generator/tests/init-sources/init-sources.spec.ts
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix notification in Plugins view (#535)
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

eclipse/che#15104 Persist Theia theme in user preferences
  extensions/eclipse-che-theia-user-preferences/package.json
  extensions/eclipse-che-theia-user-preferences/src/browser/che-theia-user-preferences-frontend-module.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-preferences.ts
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-synchronizer.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

rename method
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-preferences.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Wait for stopping the workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Wait for stopping the workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Wait for stopping the workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Remove unused code
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-synchronizer.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix terminal creation according to upstream changes
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-terminal/src/browser/server-definition/remote-connection.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp

Update yarn.lock to update reconnecting-websocket
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Fix cannot create a new terminal issue (#538)
  extensions/eclipse-che-theia-dashboard/package.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-terminal/package.json
  extensions/eclipse-che-theia-terminal/src/browser/server-definition/remote-connection.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @AndrienkoAleksandr

Add ability to configure borders in quick pick items list on plugin side
  extensions/eclipse-che-theia-terminal/src/browser/contribution/terminal-command-filter.ts
  extensions/eclipse-che-theia-terminal/src/browser/contribution/terminal-quick-open.ts
  plugins/task-plugin/src/che-workspace-client.ts
  plugins/task-plugin/src/machine/machines-picker.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Fix restoring theme
  extensions/eclipse-che-theia-user-preferences/src/browser/theme/theme-synchronizer.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use sself signed certificate when do request to plugin registry
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-https.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Upgrade typescript to 3.5.3 to match with theia
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/e2e/Dockerfile
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-user-preferences/package.json
  generator/package.json
  generator/src/logger.ts
  package.json
  yarn.lock
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Use dashboard to restart the workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Upgrade typescript to 3.5.3 to match with theia
  dockerfiles/theia/Dockerfile
  dockerfiles/theia/e2e/Dockerfile
  extensions/eclipse-che-theia-git-provisioner/src/browser/git-frontend-module.ts
  extensions/eclipse-che-theia-user-preferences/package.json
  generator/package.json
  generator/src/logger.ts
  package.json
  yarn.lock
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Add temporary logs to detect the problem
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use common header settings
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use dashboard to restart workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add comments
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

check if plugin registry url ends with '/plugins/'
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use dashboard to restart the workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Merge restart the workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/browser/style/che-plugins.css
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use dashboard to restart the workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use dashboard to restart workspace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add comments
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Remove trailing whitespace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Remove trailing whitespace
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use self signed certificate when do request to plugin registry (#539)
  extensions/eclipse-che-theia-plugin-ext/src/node/che-api-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-https.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp
