Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp

Change git refs to master branch
  build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix and improve devfiles. (#492)
  devfiles/che-theia-all.devfile.yaml
  extensions/eclipse-che-theia-plugin-remote/devfile.yaml
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun

Add Dockerfile for Kubernetes Che Plugin based on VS Code Kubernetes extension 1.0.4
  build.include
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Clone all repository
  dockerfiles/theia/docker/alpine/builder-clone-theia.dockerfile
  dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add Dockerfile for Kubernetes Che Plugin based on VS Code Kubernetes extension 1.0.4 (#493)
  build.include
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

fix build
  build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Fix publish images function
  build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Resolve preview URL for notification
  plugins/task-plugin/src/preview/task-events-handler.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Fix publish images function
  build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

[Containers plugin] Unfold Plugins section if a plugin container has a command
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

[Containers plugin] Unfold Plugins section if a plugin container has a command (#496)
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Use same version for all theia dependencies
  extensions/che-theia-hosted-plugin-manager-extension/package.json
  extensions/eclipse-che-theia-plugin-ext/package.json
  extensions/eclipse-che-theia-plugin-remote/package.json
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add php 7.2 ubi Dockerfile
  dockerfiles/remote-plugin-php7/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

feat(extensions): Allow to grab extension host log for plug-ins We have output channel for each sidecar
  extensions/eclipse-che-theia-plugin-remote/src/node/dummy-trace-logger.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-process-log.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/remote-trace-logger.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add ability to stop running task
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  plugins/task-plugin/src/task/che-task-runner.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Start remote endpoint binary using entrypint.sh script with UID fix.
  dockerfiles/theia-endpoint-runtime-binary/Dockerfile
  dockerfiles/theia-endpoint-runtime-binary/src/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

feat(theia-image): Add code yeoman generator to generate VS Code extensions from Eclipse Che
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Resolve preview URL for notification
  plugins/task-plugin/src/preview/task-events-handler.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

feat(theia-image): Add code yeoman generator to generate VS Code extensions from Eclipse Che
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

feat(extensions): Allow to grab extension host log for plug-ins We have output channel for each sidecar
  extensions/eclipse-che-theia-plugin-remote/src/node/dummy-trace-logger.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-process-log.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/remote-trace-logger.ts
  yarn.lock
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Update yarn.lock to update @eclipse-che/api
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Handle sparseCheckoutDir parameter of project source in devfile
  plugins/factory-plugin/package.json
  plugins/factory-plugin/src/git.ts
  plugins/factory-plugin/src/theia-commands.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

feat(theia-image): Add code yeoman generator to generate VS Code extensions from Eclipse Che
  dockerfiles/theia/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add Analytics remote plugin docker image based on ubi8
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/ubi8.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Handle sparseCheckoutDir parameter of project source in devfile (#500)
  plugins/factory-plugin/package.json
  plugins/factory-plugin/src/git.ts
  plugins/factory-plugin/src/theia-commands.ts
  yarn.lock
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp, @evidolob

add Dockerfile for Podman v1.5
  build.include
  dockerfiles/podman/Dockerfile
  dockerfiles/podman/build.sh
  dockerfiles/podman/src/docker.sh
  dockerfiles/podman/src/entrypoint.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Remove not needed java rhell Docker files.
  dockerfiles/remote-plugin-java11/rhel.Dockerfile
  dockerfiles/remote-plugin-java8/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove rhell kubernetes tooling Dockerfile 0.1.17
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove rhel dockerfiel remote-plugin-kubernetes-tooling-1.0.0
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove remote-plugin-node rhel Dockerfile.
  dockerfiles/remote-plugin-node/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove python rhel Dockerfile.
  dockerfiles/remote-plugin-python-3.7.4/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove openshift connector rhel dockerfiles.
  dockerfiles/remote-plugin-openshift-connector-0.0.17/rhel.Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.21/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove python 3.7.3 and php rhel dockerfiles
  dockerfiles/remote-plugin-php7/rhel.Dockerfile
  dockerfiles/remote-plugin-python-3.7.3/rhel.Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Rework kubernetes 1.0.4 image.
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.4/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

fixup! add Dockerfile for Podman v1.5
  build.include
  dockerfiles/podman/Dockerfile
  dockerfiles/podman/src/docker.sh
  dockerfiles/podman/src/entrypoint.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

[Containers plugin] Unfold plugin container node only if it has a command
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add ability to stop running task
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  plugins/task-plugin/src/task/che-task-runner.ts
Owners: @AndrienkoAleksandr, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Update cleanup-find
  generator/src/conf/cleanup-find
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Update entrypoint.sh
  dockerfiles/theia-endpoint-runtime/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Update entrypoint.sh
  dockerfiles/theia-endpoint-runtime/etc/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp
