Repository eclipse-che/che-theia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf, @sunix, @vitaliy-guliy, @olexii4, @mmorhun, @tolusha, @AndrienkoAleksandr

Restore go 1.10.7
  docker_image_build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Update go version to 1.12.9 (#443)
  docker_image_build.include
  dockerfiles/remote-plugin-go-1.12.9/.gitignore
  dockerfiles/remote-plugin-go-1.12.9/Dockerfile
  dockerfiles/remote-plugin-go-1.12.9/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Use theia-plugin-ext from node_modules. (#464)
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-api-provider.ts
  extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-backend-module.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Add Dockerfile for OpenShift Connector plugin image
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.0/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add Dockerfile for OpenShift Connector plugin image
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add Dockerfile for OpenShift Connector plugin image
  docker_image_build.include
Owners: @evidolob, @vparfonov, @l0rd, @rhopp

Handle some review feedback.
  dockerfiles/theia-endpoint-runtime-binary/Dockerfile
  dockerfiles/theia-endpoint-runtime-binary/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Use Theia typescript compiler settings and fix all errors (#462)
  configs/base.tsconfig.json
  extensions/eclipse-che-theia-git-provisioner/package.json
  extensions/eclipse-che-theia-git-provisioner/src/node/git-configuration-controller.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-manager.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/plugin/che-plugin-widget.tsx
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-task-service.ts
  extensions/eclipse-che-theia-plugin-ext/webpack.config.js
  extensions/eclipse-che-theia-plugin-remote/package.json
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
  extensions/eclipse-che-theia-terminal/src/browser/contribution/exec-terminal-contribution.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-frontend-module.ts
  extensions/eclipse-che-theia-terminal/src/browser/terminal-widget/remote-terminal-widget.ts
  extensions/eclipse-che-theia-terminal/src/node/workspace-service-impl.ts
  plugins/containers-plugin/src/containers-service.ts
  plugins/containers-plugin/src/containers-tree-data-provider.ts
  plugins/factory-plugin/src/factory-initializer.ts
  plugins/factory-plugin/src/projects.ts
  plugins/factory-plugin/src/theia-commands.ts
  plugins/factory-plugin/src/workspace-projects-manager.ts
  plugins/ports-plugin/src/ports-plugin.ts
  plugins/ports-plugin/src/workspace-handler.ts
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
  plugins/task-plugin/src/che-workspace-client.ts
  plugins/task-plugin/src/machine/websocket.ts
  plugins/task-plugin/src/preview/preview-url-open-service.ts
  plugins/task-plugin/src/task/converter.ts
  plugins/task-plugin/src/variable/project-path-variable-resolver.ts
  plugins/welcome-plugin/src/welcome-plugin.ts
  yarn.lock
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @mmorhun, @AndrienkoAleksandr, @sunix, @vitaliy-guliy, @olexii4

Use root uri as source for tasks
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

feat(docker): Provides ubi8 based images for che-theia and che-theia-dev
  dockerfiles/build.include
  dockerfiles/theia-dev/Dockerfile.rhel
  dockerfiles/theia-dev/build-scripts/default/01-install-dependencies.sh
  dockerfiles/theia-dev/build-scripts/generic/02-configure-npm.sh
  dockerfiles/theia-dev/build-scripts/rhel/01-install-dependencies.sh
  dockerfiles/theia-dev/e2e/Dockerfile.rhel
  dockerfiles/theia-dev/e2e/instructions/build-theia.run
  dockerfiles/theia-dev/e2e/instructions/clone-theia.run
  dockerfiles/theia-dev/e2e/instructions/github-token.env
  dockerfiles/theia-dev/instructions/build.env
  dockerfiles/theia-dev/instructions/copy-generator.run
  dockerfiles/theia-dev/instructions/define-home.workdir
  dockerfiles/theia-dev/instructions/define-projects.workdir
  dockerfiles/theia-dev/instructions/define.entrypoint
  dockerfiles/theia-dev/instructions/extra.env
  dockerfiles/theia-dev/instructions/set.expose
  dockerfiles/theia/Dockerfile.rhel
  dockerfiles/theia/e2e/Dockerfile.rhel
  dockerfiles/theia/e2e/instructions/cypress.env
  dockerfiles/theia/instructions/builder-change-production-permissions.run
  dockerfiles/theia/instructions/builder-compile-plugins.run
  dockerfiles/theia/instructions/builder-compile-theia.run
  dockerfiles/theia/instructions/builder-make-production.run
  dockerfiles/theia/instructions/builder-setup.env
  dockerfiles/theia/instructions/default/runtime-adduser.run
  dockerfiles/theia/instructions/default/runtime-install-dependencies.run
  dockerfiles/theia/instructions/rhel/runtime-adduser.run
  dockerfiles/theia/instructions/rhel/runtime-install-dependencies.run
  dockerfiles/theia/instructions/runtime-configure.run
  dockerfiles/theia/instructions/runtime-define.entrypoint
  dockerfiles/theia/instructions/runtime-ports.expose
  dockerfiles/theia/instructions/runtime-projects.workdir
  dockerfiles/theia/instructions/runtime-setup.env
  dockerfiles/theia/instructions/runtime-theia-production.copy
  dockerfiles/theia/instructions/runtime-theia.user
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Use che.project plugin API
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-api-provider.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-frontend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-product-main.ts
  extensions/eclipse-che-theia-plugin-ext/src/common/che-protocol.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-backend-module.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-product-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-api.ts
  extensions/eclipse-che-theia-plugin-ext/src/plugin/che-product.ts
  extensions/eclipse-che-theia-plugin-ext/src/resource/che-logo.png
  extensions/eclipse-che-theia-plugin-ext/src/resource/che-logo.svg
  extensions/eclipse-che-theia-plugin-ext/src/resource/product.json
  extensions/eclipse-che-theia-plugin/src/che-proposed.d.ts
  plugins/welcome-plugin/src/branding.json
  plugins/welcome-plugin/src/branding.json.d.ts
  plugins/welcome-plugin/src/welcome-page.ts
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Upgrade vscode-ws-jsonrpc version
  plugins/task-plugin/package.json
  yarn.lock
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp, @evidolob

Add python 3.7.4 runtime to dependency analytics
  docker_image_build.include
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.13/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

don't comment out ADD line in theia/instructions/default/builder-setup.env (oops)
  dockerfiles/theia/instructions/default/builder-setup.env
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

support doing sed replacements of strings which include a / (if ORGANIZATION includes the docker.io/ repo)
  dockerfiles/build.include
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

add --image-name: flag so that full image name can be overridden, not just fragments (eg., when we don't want PREFIX-NAME as the container name, but just NAME)
  dockerfiles/build.include
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

allow slashes in ORGANIZATION field by using @ for sed separators instead of /
  dockerfiles/build.include
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Restore code after merge
  extensions/eclipse-che-theia-plugin-remote/src/node/hosted-plugin-remote.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Apply SSH generate/create key name validation (#444)
  plugins/ssh-plugin/src/ssh-plugin-backend.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Upgrade vscode-ws-jsonrpc version
  plugins/task-plugin/package.json
  yarn.lock
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp, @evidolob

Use product service in About dialog
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
  extensions/eclipse-che-theia-plugin-ext/src/node/che-product-service.ts
  plugins/welcome-plugin/src/welcome-plugin.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp, @sunix, @vitaliy-guliy, @olexii4

Add dependency on che-api implementation
  extensions/eclipse-che-theia-about/package.json
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

eclipse/che#14553 Throw error instead of using hardcoded url
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Update dependency in welcome plugin
  plugins/welcome-plugin/package.json
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Add remote node images: alpine and ubi
  dockerfiles/remote-plugin-node/Dockerfile
  dockerfiles/remote-plugin-node/Dockerfile.ubi
  dockerfiles/remote-plugin-node/build.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Rework clang.
  dockerfiles/remote-plugin-clang-8/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Rework clang image.
  dockerfiles/remote-plugin-clang-8/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

allow slashes in ORGANIZATION field by using @ for sed separators instead of / (#471)
  dockerfiles/build.include
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Generate remote binary (#410)
  docker_image_build.include
  dockerfiles/theia-endpoint-runtime-binary/Dockerfile
  dockerfiles/theia-endpoint-runtime-binary/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

eclipse/che#14553 Throw error instead of using hardcoded url
  extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Do not catch error while executing Git commands, factory plugin
  plugins/factory-plugin/src/exec.ts
  plugins/factory-plugin/src/git.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Remove redundant parameter
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Add Dockerfile for OpenShift Connector plugin v0.1.0 image (#465)
  docker_image_build.include
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.1.0/build.sh
Owners: @evidolob, @vparfonov, @l0rd, @rhopp, @benoitf

Update about dialog
  extensions/eclipse-che-theia-about/src/browser/about-che-theia-dialog.ts
  extensions/eclipse-che-theia-about/src/browser/style/che-theia-about.css
  extensions/eclipse-che-theia-plugin-ext/src/browser/che-product-main.ts
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Use root uri as source for tasks
  plugins/containers-plugin/src/containers-tree-data-provider.ts
Owners: @sunix, @vitaliy-guliy, @olexii4, @vparfonov, @l0rd, @rhopp

Remove unused image
  extensions/eclipse-che-theia-plugin-ext/src/resource/che-logo.png
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Rework kubernetes and openshift plugins images
  dockerfiles/remote-plugin-kubernetes-tooling-0.1.17/Dockerfile
  dockerfiles/remote-plugin-kubernetes-tooling-1.0.0/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.17/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.17/entrypoint.sh
  dockerfiles/remote-plugin-openshift-connector-0.0.21/Dockerfile
  dockerfiles/remote-plugin-openshift-connector-0.0.21/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Remove default product.json as it is hardcoded in ProductService
  extensions/eclipse-che-theia-plugin-ext/src/node/che-product-service.ts
  extensions/eclipse-che-theia-plugin-ext/src/resource/product.json
Owners: @mmorhun, @evidolob, @vparfonov, @l0rd, @rhopp

Update python, go, php, analytica images.
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/Dockerfile
  dockerfiles/remote-plugin-dependency-analytics-0.0.12/entrypoint.sh
  dockerfiles/remote-plugin-dotnet-2.2.105/Dockerfile
  dockerfiles/remote-plugin-dotnet-2.2.105/entrypoint.sh
  dockerfiles/remote-plugin-go-1.10.7/Dockerfile
  dockerfiles/remote-plugin-go-1.10.7/entrypoint.sh
  dockerfiles/remote-plugin-php7/Dockerfile
  dockerfiles/remote-plugin-php7/entrypoint.sh
  dockerfiles/remote-plugin-python-3.7.3/Dockerfile
  dockerfiles/remote-plugin-python-3.7.3/entrypoint.sh
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

Change a parent image for remote-plugin-openshift-connector-0.1.0
  dockerfiles/remote-plugin-openshift-connector-0.1.0/Dockerfile
Owners: @benoitf, @evidolob, @vparfonov, @l0rd, @rhopp

.github/CODEOWNERS:

# Global Owners
* @evidolob @vparfonov @l0rd @rhopp

# dockerfiles
dockerfiles/** @benoitf @evidolob @vparfonov @l0rd @rhopp
plugins/** @sunix @vitaliy-guliy @olexii4 @vparfonov @l0rd @rhopp
extensions/** @mmorhun @evidolob @vparfonov @l0rd @rhopp
che-plugins/** @evidolob @tolusha @vparfonov @l0rd @rhopp
extensions/eclipse-che-theia-terminal/** @AndrienkoAleksandr @vparfonov @l0rd @rhopp
